# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/

# Django
*.sqlite3
staticfiles/
media/
*.log

# Project files
.git
.gitignore
README.md
Dockerfile
.dockerignore
.env
*.yml
*.yaml
docker-compose*
tests/
test/
ci/
.idea/
.vscode/
node_modules/