{% extends 'base.html' %}
{% block title %} App version {% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">HiveBox Version App</h1>
        <p class="text-center">Current app version: <strong>{{ version }}</strong></p>
    </div>

    {% endblock %}
    <!-- Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>